body {
  background: url("https://www.soelden.com/urlaub/images/SD/SO/ort_unterkunft_betriebe/background_wetter,method=crop,prop=data,id=1636-900.jpg");
  background-size: cover;
}
#h1 {
  font-size: 70px;
  text-align: center;
  color: white;%
  font-family: 'Josefin Sans', sans-serif;
}
#div1 {
  font-size: 25px;
  position: relative;
  top: 120px;
  left: 170px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
#icon {
  position: relative;
  top: 50px;
  left: 650px;

}
#copy {
  position: relative;
  top: 600px;
  left: 650px;
}
